
.carousel{
    position: relative;
    height: 300px;
    img{
        height: 400px;
        object-fit: cover;
        mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }

    button[data-twe-slide="next"] {
        visibility: hidden;
      }

      button[data-twe-slide="prev"] {
        /* tus estilos aquí */
        visibility: hidden;

        
      }
    

      button[data-twe-slide="next"]:hover {
    
        box-shadow: 2px 2px 5px black;
        border: rgb(5, 5, 53) 1px solid;
      }
    
      button[data-twe-slide="prev"]:hover {
    
        box-shadow: 2px 2px 5px black;
        border: rgb(5, 5, 53) 1px solid;
      }
      
}
.carousel:hover{
    button[data-twe-slide="next"] {
        /* tus estilos aquí */
        visibility: visible;
        background: white;
        height: 20%;
        color: black;
        border-radius: 100px  0px 0px 100px;
        top: 150px;
        width: 6%;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
        }
      }

      button[data-twe-slide="prev"] {
        /* tus estilos aquí */
        visibility: visible;
        top: 150px;
        width: 6%;
        height: 20%;
        background: white; 
        color: black;
        border-radius: 0 100px 100px 0;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
        }
      }
    
}
.carouselProducts{
    position: relative;
    height: 300px;
    
    img{
        height: 400px;
        object-fit: cover;
        mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }
}