$color-navy: #1b1f3b;
$color-light-blue: #15384e;
$color-dark-gray: #3a3a3a;
$color-white: #ffffff;
$color-mint-green: #37d67a;
$color-orange: #ff5722;
$color-light-yellow: #ffeb3b;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: $color-light-blue;
  color: $color-white;
  .logo {
    h1 {
      font-size: 1.5rem;
    }
  }

  .nav {
    display: flex;
    gap: 1rem;
  }

  .cartlogin {
    display: flex;
    gap: 1rem;
  }

  .login{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
